<form>
    <label class="label-main">Create Contact</label>
 
    <div class="form-group">
        <label>Contact Id :</label>
        <input type="number" class="form-control" #id placeholder="Contact Id" ngModel name="id">
    </div>
    <div class="form-group">
        <label>Contact Name :</label>
        <input type="text" class="form-control" #name placeholder="Contact Name" ngModel name="name">
    </div>
    <div class="form-group">
        <label>Contact Type :</label>
        <input type="text" class="form-control" #type placeholder="Contact Type" ngModel name="type">
    </div>
    <div class="form-group">
        <label>Picture :</label>
        <input type="text" class="form-control" #picture placeholder="Picture" ngModel name="picture">
    </div>
    <button (click)="createContact({id:id.value,name:name.value,type:type.value,picture:picture.value})">Create Contact</button>
</form>