<nb-card size="medium">
    <nb-tabset fullWidth>
        <nb-tab tabTitle="Orders">
            <div class="chart-container">
                <div class="d-flex flex-row justify-content-between" style="width:100%">
                <div class="d-flex flex-row justify-content-start">
                <div *ngFor="let legend of legendItems" class="legend">
                    <div class="legend-item-color"
                         [style.background]="legend.iconColor"></div>
                    <div class="legend-title">{{ legend.title }}</div>
                  </div>
                </div>
                <div>
                    <nb-select [selected]="period" (selectedChange)="changePeriod($event)">
                        <nb-option [value]="'week'">Week</nb-option>
                        <nb-option [value]="'month'">Month</nb-option>
                        <nb-option [value]="'year'">Year</nb-option>
                    </nb-select>
                </div>
            </div>
            <div echarts
            [options]="option"
            [merge]="option"
            class="echart">
       </div>
            </div>
        </nb-tab>
        <nb-tab tabTitle="Profit">
            <div class="chart-container">
                
            </div>
        </nb-tab>
    </nb-tabset>
</nb-card>