<div class="row">
    <div class="col-xxxl-3 col-md-6" *ngFor="let statusCard of statusCards">
       <ngx-status-card [statusCard]="statusCard">
       
       </ngx-status-card>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-7">
      <div echarts
      [options]="option"
      [merge]="option"
      class="echart">
 </div>
    </div>
    <div class="col-xl-5">
      <ngx-player></ngx-player>
    </div>
  </div>
  <div class="row" style="margin-top: 50px;">
    <div class="col-xl-9">
      <ngx-contacts></ngx-contacts>
    </div>
  </div>