<form>
    <label class="label-main">Create Graph</label>
 
    <div class="form-group">
        <label>Graph Id :</label>
        <input type="number" class="form-control" #id placeholder="Graph Id" ngModel name="id">
    </div>
    <div class="form-group">
        <label>FirstLine :</label>
        <input type="text" class="form-control" #first placeholder="firstline" ngModel name="firstLine">
    </div>
    <div class="form-group">
        <label>SecondLine :</label>
        <input type="text" class="form-control" #second placeholder="secondline" ngModel name="secondLine">
    </div>

    <button (click)="createGraph({id:id.value,firstLine:first.value,secondLine:second.value})">Create Graph</button>
</form>